<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="transform: translate3d(0px, 0px, 0px); opacity: 1;">
                <div class="header">
                    <a class="btn btn-default" [routerLink]="['/devices-list']">
                        <i class="pe-7s-back"></i> To Details List
                    </a>
                </div>
                <div class="content">
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <tbody>
                                <tr>
                                    <td style="width: 40%">Device: {{device.name}} </td>
                                    <td>{{totalUsage}} KW</td>
                                    <td align="right">
                                        <app-power-switch [device]="device"></app-power-switch>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <app-power-usage-chart [deviceId]="device.deviceId"></app-power-usage-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>