<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" [@cardprofile]>
            <div class="card card-user">
                <div class="image">
                    <img [src]="'https://images.unsplash.com/photo-1455612693675-112974d4880b?dpr=2&auto=compress,format&fit=crop&w=376&h=251&q=80&cs=tinysrgb&crop='" alt="..." />
                </div>
                <div class="content">
                    <p class="description text-center">
                        How many devices do I have in total?
                    </p>
                    <h1 class="text-center big">{{totalDevicesNumber}}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-6" [@cardprofile]>
            <div class="card card-user">
                <div class="image">
                    <img [src]="'https://images.unsplash.com/photo-1487017159836-4e23ece2e4cf?dpr=2&auto=compress,format&fit=crop&w=376&h=251&q=80&cs=tinysrgb&crop='" alt="..." />
                </div>
                <div class="content">
                    <p class="description text-center">
                        How many devices are currently ON?
                    </p>
                    <h1 class="text-center big">{{switchedOnDevicesNumber}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" [@cardprofile]>
            <div class="card card-user">
                <div class="image">
                    <img [src]="'https://images.unsplash.com/uploads/141103282695035fa1380/95cdfeef?dpr=2&auto=compress,format&fit=crop&w=376&h=193&q=80&cs=tinysrgb&crop='" alt="..." />
                </div>
                <div class="content">
                    <p class="description text-center">
                        How much power do all your devices consume?
                    </p>
                    <h1 class="text-center big">700 KW</h1>
                </div>
            </div>
        </div>
        <div class="col-md-6" [@cardprofile]>
            <div class="card card-user">
                <div class="image">
                    <img [src]="'https://images.unsplash.com/photo-1424298397478-4bd87a6a0f0c?dpr=2&auto=compress,format&fit=crop&w=376&h=251&q=80&cs=tinysrgb&crop='" alt="..." />
                </div>
                <div class="content">
                    <p class="description text-center">
                        How does the power usage curve look like?
                    </p>
                    <x-chartist class="col-md-12" [data]="data" [type]="'Line'" [options]="options"></x-chartist>
                </div>
            </div>
        </div>
    </div>
</div>