<div class="card card-user">
    <div class="image">
        <img [src]="backgroundImage" alt="..." />
    </div>
    <div class="content">
        <p class="description text-center" [innerHtml]="about">
        </p>
    </div>
    <hr>
    <!-- <div class="text-center">
        <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
        <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
        <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
    </div> -->
</div>