<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" [@cardemail]>
            <!-- <lbd-chart
        [title]="'Email Statistics'"
        [subtitle]="'Last Campaign Performance'"
        [chartClass]="'ct-perfect-fourth'"
        [chartType]="emailChartType"
        [chartData]="emailChartData"
        [legendItems]="emailChartLegendItems"
        [footerIconClass]="'fa fa-clock-o'"
        [footerText]="'Campaign sent 2 days ago'">
      </lbd-chart> -->
        </div>
    </div>
</div>