<div class="container-fluid">
    <div *ngFor="let room of rooms" class="row">
        <div class="col-md-12" [@cardtable1]>
            <div class="card">
                <div class="header">
                    <h4 class="title">{{room.room}}</h4>
                </div>

                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <tbody>
                            <tr *ngFor="let device of room.devices">
                                <td style="width: 40%"><a [routerLink]="['/device-details', device.device.id]">{{ device.device.name }}</a></td>
                                <td>{{device.usageKW}} KW</td>
                                <td align="right">
                                    <app-power-switch [device]="device.device"></app-power-switch>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>